
/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */

@font-face {
  font-family: 'Inter-regular';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-italic';
  src: url('../fonts/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter-medium';
  src: url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-medium-italic';
  src: url('../fonts/Inter_18pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-italic';
  src: url('../fonts/Inter_18pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}


/* Establece el tamaño base para rem */

html {
  font-size: 16px; /* 1rem = 16px */
}

/* Opcional: para mejorar accesibilidad del texto */

body {
  font-family: 'inter-regular', Arial, sans-serif;
  line-height: 1.5;
}

/* Estilos compartidos */

h1 {
  color: black;
  text-transform: uppercase;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1.5rem 2rem;
}

.logo img {
  height: 2.5rem;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2.5rem; 
}

.menu li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.menu .active {
  color: #0254ac;
}

.extras {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.extras i {
  color: white;
  font-size: 1.2rem;
}

.buscador {
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}



