
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts locales */

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter_18pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

/* Configuraciones iniciales */

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  background-color: #fff;
  color: #111;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-main {
  flex: 1;
}

/* ESTILOS COMPARTIDOS */

/* Main */

h1 {
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  padding: 1.5rem 2rem;
}

.main-nav__logo img {
  height: 2.5rem;
}

.main-nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2.5rem; 
}

.main-nav__menu-item a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav__menu-item--active a {
  color: #0254ac;
}

.main-nav__extras {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main-nav__extras i {
  color: white;
  font-size: 1.2rem;
}

.main-nav__search {
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Footer */

.site-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 3rem;
  background-color: #222;
  color: white;
}

 .site-footer img {
    height: 2.5rem;
    margin-bottom: 1rem;
 } 

 .site-footer section p {
   margin-bottom: 0.5rem;
 }

 .site-footer__info ul li {
  margin-bottom: 1rem;
  list-style: none;
 }

 .site-footer__info-item a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
 }

 .site-footer__redes i {
  color: white;
  font-size: 2rem;
  padding: 0 1rem;
 }









